* {
    margin: 0;
    padding: 0;
}
div {
    color: white;
}
ul li {
    list-style-type: none;
    padding-left:3%;
    font-size: 100%;
}
ul {
    display: flex;
    align-items: center;
    justify-content: end;
    padding: 1%;

    margin-top: 0;
    margin-left: 0;
}
.ih2  {
    font-size: 230%;
}
.ih1 {
    font-size: 220%;
}
.logo {
    display: flex;
    justify-content: center;
    margin-top: 10%;
}
.logo h1 {
    font-size: 90px;
    font-weight: 500;
}
.search {
    align-items: center;
    display: flex;
    justify-content: center;
}
#search {
    background-color: #202124;
    
}
.search div {
    display: flex;
}

.i1 {
    display: flex;
    justify-content: end;
}
.i2 {
    display: flex;
    justify-content: start;
}